.myhite {
    display: none;
}

ol {
    padding: 0;
    list-style: none;
    counter-reset: sectioncounter
}

ol > li:before {
    content: '问题' counter(sectioncounter) ':';
    counter-increment: sectioncounter;
    font-size: 18px;
    /*color: #d4d4d4;*/
    color: #777;

}

ol > li:nth-of-type(odd) {
    background-color: #f9f9f9;
}