<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CRM系统首页{% endblock %}</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">
    {% block link %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">CRM系统</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.username %}
                    <li><a href=""><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;{{ request.session.userName }}</a></li>
                    <li><a href="/logoff/">注销</a></li>
                {% else %}
                    <li><a href="/login/">登录</a></li>
                    <li><a href="">注册</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" style="margin-top: 70px">
{% csrf_token %}
    <div class="row">
        <div class="col-md-2 sidebar">
            <div id="user_stats">
                <div class="panel panel-default ">
                    <div class="panel-heading">校区管理</div>
                    <div class="panel-body">
                        <p>问卷调查列表</p>
                    </div>
                </div>
            </div>
        </div>

            <div class="col-md-9 main">
            {% block Content %}
                <div>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">添加</button>
                </div>
                <div>
                    <table class="table table-bordered ">
                        <thead>
                        <tr>
                            <th><input type="checkbox"></th>
                            <th>调查问卷名称</th>
                            <th>问卷调查班级</th>
                            <th>参与人数</th>
                            <th>问卷选项</th>
                            <th>调查地址</th>
                            <th>查看评分</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for questionnaire in questionnaire_list %}
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>{{ questionnaire.title }}</td>
                                <td>{{ questionnaire.cls.title }}</td>
                                <td>0/{{ questionnaire.cls.student_set.count }}</td>
                                <td><a href="/editqs/">编辑问卷</a></td>
                                <td>/student/evaluate/{{ questionnaire.cls.id }}/{{ questionnaire.id }}</td>
                                <td><a href="">查看评分</a></td>
                                <td><button class="btn btn-block btn-info del_qs"  qs_id="{{ questionnaire.id }}">删除</button></td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            {% endblock %}
            </div>

    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">添加问卷</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal col-md-offset-1">
                {% csrf_token %}
                    <div class="form-group ">
                        <label for="question" class="col-sm-2 col-md-2 control-label">问卷名称</label>
                        <div class="col-sm-10 col-md-6">
                            <input type="text" class="form-control" id="question" name="question">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="qs_classes" class="col-sm-2  col-md-2 control-label">问卷班级</label>
                        <div class="col-sm-10 col-md-6">
                            <select name="qs_classes" id="qs_classes" class="form-control">
                                {% for cls in cls_list %}
                                    <option value="{{ cls.id }}">{{ cls.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary " id="save">保存</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<script src="/static/bootstrap-3.3.7/js/jquery-3.2.1.js"></script>
<script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.cookie.js"></script>
<script src="/static/js/index.js"></script>
{% block script %}
{% endblock %}
</body>
</html>